.all-tracks{
    background: transparent;
    border: none;
    padding: 0;
    margin-bottom: -1em;
    transition: all 0.25s ease-in;
}
.all-tracks:hover{
    color: rgba(0,139,255,1);
    transition: all 0.25s ease-in;
}
.green {
    color: rgba(0,139,255,1);
}

.playlist-list{
    list-style: none;
    margin: 0;
    font-size: large;
    font-weight: 500;
    margin-top: 1em;
    padding-left: 0em;
}

.playlist-list-item{
    margin-bottom: .5em;
}

.playlist-list-item:hover {
    cursor: pointer;
    color: rgba(0,139,255,1);
}

.my-playlists-header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1em;
}

.my-playlists-header h2{
    padding: 0;
    margin: 0;
}

.my-playlists-header button{
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    transition: all 0.25s ease-in;
}

.my-playlists-header button:hover{
    color: rgb(25, 159, 25);
    rotate: 90deg;
    transition: all 0.25s ease-in;
}

.no-playlists {
    font-size: .8em ;
    font-weight: 400;
}